
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    margin: 0;
}

header {
    display: block;
    height: 650px  0px;
    margin-top: 0;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("header.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    border-bottom: solid #ed3237;
}

.cabecalho {
    color: rgb(241, 241, 241);
    text-align: center;
    height: 600px;
    vertical-align: center;
}

.cabecalho img {
    width: 50%;
    margin-top: 60px;
}

.cabecalho h1 {
    font-family: "Poppins";
    font-weight: 200;
}

.header-input {
    width: 60%;
    margin: 0 20% 0 20%;
}

.marca {
    height: 50px;
    width: 500px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins";
    color: black;
}

.modelo {
    height: 50px;
    width: 500px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins";
    color: black;
}

.ano-min {
    height: 50px;
    width: 242.5px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins";
    color: black;
}

.ano-max {
    height: 50px;
    width: 242.5px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins";
    color: black;
}

.preco-min {
    height: 50px;
    width: 242.5px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins";
    color: black;
}

.preco-max {
    height: 50px;
    width: 242.5px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins"; 
    color: black;
}

.search {
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 10px;
    margin: 30px;
    font-size: 25px;
    font-family: "Poppins";
    vertical-align: center;
    background-color: #ed3237;
    color: white;
}

.search:hover {
    scale: 1.05;
    transition: 0.5s;
}


main {
    background-color: #212529;
}

.cardapio {
    border-bottom: solid #ed3237;
}

.car-show {
    background-color: #212529;
    width: 20%;
    display: inline-block;
    margin-left: 4%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid white 2px;
    border-radius: 25px;
    background-color: black;
}

.carousel.slide {
    width: 100%;
    display: inline-block;
}   

.carousel.slide img {
    border-radius: 25px 25px 0 0;
}

.left.carousel-control {
    margin-top: 25px;
}

.right.carousel-control {
    margin-top: 25px;
}

.descritive {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    color: white;
}   

.descritive h2 {
    color: white;
    display: block;
    font-family: 'Poppins';
    font-weight: 300;
    text-align: center; 
}


.descritive ul {
    column-count: 1;
    font-size: 18px;
    font-family: 'Poppins';
    margin-top: 20px;
}

.descritive ul li {
    margin-bottom: 10px;
    text-align: justify;
    margin-right: 25px;
}

.descritive ul li:hover {
    color: rgb(192, 46, 46);
    transition: 1.0s;
}

.descritive button {
    display: block;
    width: 70%;
    height: 50px;
    margin: 0 15% 20px 15%;
    border-radius: 10px;
    font-size: 30px;
    background-color: #ed3237;
    border: solid #ed3237;
    font-family: 'Poppins';
    text-align: center;
}

.descritive button:hover {
    background-color: green;
    border: green;
    transition: 1.0s;
    scale: 1.05;
}

.maps {
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

.maps h3 {
    text-align: center;
    color: white;
    font-family: "Poppins";
    font-weight: 100;
    padding-top: 60px;
    font-size: 35px;
    margin: 0;

}

iframe {
    width: 60%;
    height: 350px;
    margin: 50px 20% 0 20%;
}

.contact {
    height: 600px;
    width: 100%;
    background-color: white;
    background-image: url("logo-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%; 
    border-bottom: solid #ed3237;
}

.contact-box {
    display: inline-block;
    height: 300px;
    width: 50%;
    margin: 150px 25% 0 25%;
    background-color: #ed3237;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 30%);        
}

.contact-box p {
    color: rgb(241, 241, 241);
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 100;
    text-align: center;
    padding-top: 50px;
}

.contact-box input {
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 10px;
    margin: 30px 15% 0 15%;
    font-size: 25px;
    font-family: "Poppins";
    background-color: white;
    padding: 10px;
}

.text {
    background-image: url("text.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
    border-bottom: solid #ed3237;
}

.text h4 {
    color: rgb(241, 241, 241);
    font-size: 50px;
    font-family: "Poppins";
    font-weight: 100;
    width: 35%;
    margin: 0 0 0 58%;
    padding-top: 150px;
}

.rodape {
    background-color: white;
}

.rodape img {
    width: 20%;
    margin: 20px 40% 20px 40%;
}

.rodape p {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    color: black;   
    font-family: "Poppins";
}